.block-view,h1, input,div, label {
    margin: 0% auto;
    text-align: center;
    display: block;
}

#block-display {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: bisque;
}

 #eth-submit {
    margin: 0% auto;
    text-align: center;
    display: block;
} 